WANDB_API_KEY=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
WANDB_ENTITY=stEVE_training
WANDB_PROJECT=stEVE_trainin
WANDB_GROUP=stEVE_training_pipeline
WANDB_MODE=online


